<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Horse Power</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" href="../assets/android-icon-48x48.png">
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg mx-5 px-5">
            <div class="container-fluid color-nav">
              <a class="navbar-brand logo-contenedor" href="#"><img class="logo" src="../assets/logo.png" alt="Logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                <ul class="navbar-nav menu-item">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="../templates/productos.html">Productos</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link active" href="../templates/nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        
                    <a class="nav-link" href="../templates/contacto.html">Contacto</a>
                    </li>
                </ul>
                <div class="mx-5 user">
                    <a href="#!">
                        <img src="../assets/user-ejemplo.png" alt="avatar"
                            class="img-fluid user-circulo me-1">
                    </a>
                </div>
              </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="circle-big"></div>
        <div class="circle-small"></div>
        <div class="line-row"></div>
        <div class="container">
            <div class="texto-inicio">
                <h1 class="Titulo">HORSE <br>POWER</h1>
                <h2 class="texto">Trabajamos con las mejores marcas<br>nuestra calidad es insuperable </h2>
            </div>
            <div class="imagen-promocional-nosotros">
                <h2 class="numero-volador">01</h2>
                <div class="numero-deportista"></div>
                <img src="../assets/deportista.png" alt="deportista">
            </div>
        </div>
        <div class="patrocinios">
            <div class="caja">
                <h2 class="Titulo">MARCAS</h2>
                <h3 class="texto">Estas son las marcas con las que trabajamos</h3>
                <section class="marcas">
                    <a href="#adidas">
                        <div class="marca">
                            <img src="../assets/adidas.png" alt="logo-adidas">
                            <p class="nombre-marca">ADIDAS</p>
                        </div>
                    </a>
                    <a href="#puma">
                        <div class="marca">
                            <img src="../assets/logo-puma.png" alt="logo-puma">
                            <p class="nombre-marca">PUMA</p>
                        </div>
                    </a>
                    <a href="#nike">
                        <div class="marca">
                            <img class="nike" src="../assets/logo-nike.png" alt="log-nike">
                            <p class="nombre-marca">NIKE</p>
                        </div>
                    </a>
                    <a href="#vans">
                        <div class="marca">
                            <img class="vans" src="../assets/logo-Vans.png" alt="logo-Vans">
                            <p class="nombre-marca">VANS</p>
                        </div>
                    </a>
                    <a href="#new-balance">
                        <div class="marca">
                            <img class="nike" src="../assets/logo-nb.png" alt="logo-new-balance">
                            <p class="nombre-marca">NEW BALANCE</p>
                        </div>
                    </a>
                </section>
            </div>
        </div>
        <div class="videos">
            <div class="linea-white-izquierda"></div>
            <div class="linea-white-derecha"></div>
            <h2 class="Titulo">VIDEOS DE MARCAS</h2>
            <div id="adidas" class="marca-video adidas">
                <iframe width="580" height="335" src="https://www.youtube.com/embed/_h6aWfAhiis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="texto-white left">
                    <h2>ADIDAS</h2>
                    <p>¡Prepárate para destacar en tu deporte favorito con Adidas! Desde running y fútbol hasta baloncesto y entrenamiento en el gimnasio, Adidas tiene todo lo que necesitas para alcanzar tus objetivos deportivos. Con una amplia variedad de productos, desde zapatillas y ropa hasta accesorios y equipaciones de equipos, Adidas tiene algo para todos los gustos y necesidades.</p>
                </div>
            </div>
            <div id="puma" class="marca-video">
                <div class="texto-white right">
                    <h2>PUMA</h2>
                    <p>¡Descubre la emoción del deporte con Puma! Nuestra marca líder en el mundo ofrece una amplia variedad de productos deportivos de alta calidad que te ayudarán a superar tus límites y alcanzar tus metas en el deporte. <br>
                    Desde nuestras zapatillas de running hasta nuestras equipaciones deportivas, cada producto Puma está diseñado con tecnología innovadora para brindarte la comodidad y el soporte que necesitas para mejorar tu rendimiento en el deporte.</p>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7-Iu3wpw-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div id="nike" class="marca-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6p4SeR3pliM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="texto-white left">
                    <h2>NIKE</h2>
                    <p>¿Listo para llevar tu rendimiento en el deporte al siguiente nivel? Nike es la marca líder en el mundo de productos deportivos que te ayudará a alcanzar tus objetivos de manera efectiva y con estilo.
                    <br>
                    Desde nuestras zapatillas de running hasta nuestra ropa deportiva, cada producto Nike está diseñado con tecnología innovadora para brindarte la comodidad, el soporte y el estilo que necesitas para mejorar tu rendimiento en el deporte.</p>
                </div>
            </div>
            <div id="vans" class="marca-video">
                <div class="texto-white right">
                    <h2>VANS</h2>
                    <p>¿Buscas una marca de calzado que combine estilo y comodidad para cualquier ocasión? Entonces, no busques más allá de Vans. Con nuestra larga historia y herencia en el skate y la cultura urbana, somos la elección perfecta para aquellos que buscan una forma de expresión auténtica.</p>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NlghYLibTYg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div id="new-balance" class="marca-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AV94Jqrw4sE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="texto-white left">
                    <h2>NEW BALANCE</h2>
                    <p>¿Estás buscando un calzado y ropa deportiva de alta calidad para tus actividades diarias? Entonces, New Balance es la marca perfecta para ti. Nuestros productos están diseñados para brindarte comodidad, soporte y estilo, sin importar cuáles sean tus necesidades.</p>
                </div>
            </div>
        </div>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <ul class="nav col-md-3 justify-content-end list-unstyled d-flex footer-item">
            <li class="ms-3"><a class="text-muted" href="#"><img src="../assets/instagram-logo.png" alt="Instagram"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a href="#"><img src="../assets/tik-tok-logo.png" alt="Tiktok"><use xlink:href="#tiktok"></use></svg></a></li>
            <li class="ms-3"><a href="#"><img src="../assets/twitter-logo.png" alt="Twitter"><use xlink:href="#twitter"></use></svg></a></li>
          </ul>

        <div class="col-md-3 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2023 Horse Power SAC</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>